*{
    margin: 0;
    padding: 0;
}

 .button{
    margin-top: 1rem;
    border-radius: 5rem;
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    padding: .9rem 3.5rem;
    margin-left: 45%;
}
.button:hover{
    background-color: green;
    color: white;
}
    
 
 nav{
    background-color: black;
    color: white;
    padding: 20px;
 }
 ul, li, h1{
    display: inline;
   
 }
 li a{
    text-decoration: none;
    color: whitesmoke;
    gap: 1.5rem;
    justify-content: space-between;
    line-height: 1em;
    margin: .5rem;
 }
    li a:hover{
        color: green;
    }
 
 li i{
    margin: .5rem; 
    margin-left: 1.5rem;
 }
 ul{
   margin-left: 50%;
   gap: 5rem;
   text-decoration: none;
 }
  li:hover{
    color: green;
    cursor: pointer;
    text-decoration: none;
}
h2,p{
    text-align:center;
    margin-left: 40px;
    padding: 10px; 
}
h2{
    font-size: xx-large;
}
p{
    font-size: larger;
}
.intro{
    padding: 50px;  
}
.intro{

    background-image: url(background.jpg);
    background-repeat: no-repeat;
    min-height: 400px;
    background-size: cover;
}

h3{
    background-color: green;
    color: black;
    padding: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
 .video-container video{
    padding: 30px;
 }
 .video-container h4{
    position: absolute;
    top: 30%;
    transform: translate(-5%);
    text-align: center;
    padding: 1.5rem 1rem;
    background: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    mix-blend-mode: screen;
    width: 52%;
 }

  .video-container video{
    width: 50%;
    height: 50%;
    padding: 30px;
    object-fit: cover;

}
.video-content button{
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
    border: none;
}
.video-content button:hover{
    cursor: pointer;
    background-color: green;
}

.video-container{
    position: relative;
}
 .AboutUs .text   {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: .5rem;
   padding: 2rem 0;
   padding-bottom :3rem;
   
}
  .video-container{
    flex: 1 1 40rem;
    display: flex;
    flex-wrap: ;padding: 20px;
   
}
.video-content h5{
    font-size: xx-large;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
} 
.video-content span{
    font-size:large;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
} 

.container{
    display: flex;
    flex-wrap: wrap;
    background : grey;
     padding: 30px;
     gap: 5rem;
     

}  
.container .icons{
    border: .1rem solid rgba(0,0,0,.1);
    box-shadow: 0 .5rem  1.5rem rgba(0,0,0, .1);
    border-radius: .5rem;
    background-color: #fff;
    padding: 30px;
    margin: 30px;


} 
.container .icons:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.container i{
    font-size: x-large;
}

.container  .icons h5{
    font-size: larger;
}
.container  .icons span{
    font-size: large;

}
 .Products .title span {

    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    background-color: black;
    color: whitesmoke;
    text-align: center;  
}
.Products{
    display: flex;
    flex-wrap: wrap;
    gap: 8.5rem;
   padding-top: 2rem;
    }
    .Products  .heading  .box-container{
        padding-top: 5rem;
        padding-left: 0rem;
        padding-bottom: 0rem;
        padding-right: 0rem;
        
    }
 .Products  .box-container .box{
    border: .1rem solid rgba(0,0,0,.1);
    box-shadow: 0 .5rem  1.5rem rgba(0,0,0, .1);
    position: relative;
    flex : 1 1 30rem; 
    border-radius: .5rem;
}
.content h6{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.Products .box-container .box .img{
    position: relative;
    padding-top: 2rem;
    overflow: hidden;
    text-align: center;
}

.Products .box-container .box .img img{
    height: 15.5rem;
}
 .box span{
    position: absolute;
    font-size: 1.5rem;
    
}
.box:hover .img img{
    cursor: pointer;
    transform: scale(1.1);
}
.Products  .box-container .box  .img  .icon{
    position: absolute;
    display: flex;
    bottom: -7rem; left: 0; right: 0;

}
.Products  .box-container .box:hover  .img  .icon{
    bottom: 0;
}
.Products .box-container .box .img .icon i{
    height: 3rem;
    font-size: 1rem;
    line-height: 3rem;
    background-color: green;
    width: 40%;
    color: black;
}
.Products .box-container .box .img .icon .fa-cart-shopping{
border-left: .1rem solid;
border-right: .1rem solid;
width: 100%;
}
.Products .box-container .box .img .icon i:hover{
    background-color: #333;
    cursor: pointer;
}
.Products .box-container .box .content h6{
    font-size: 1.5rem;
    background-color: grey;
    padding-top: 1.1rem;
}
.Products .box-container .box .content span{
    font-size: 1.5rem;
    padding-top: 1.1rem;

}
 h6{
  padding: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
}
.Review {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 5rem;
    justify-content: space-around;
   
}
.Review   .Review-container {
    border: .1rem solid rgba(0,0,0,.1);
        box-shadow: 0 .5rem  1.5rem rgba(0,0,0, .1);
        position: relative;
        flex : 1 1 1rem; 
        border-radius: .5rem;
       
    }
    .Review   .Review-container .box:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .Review   .Review-container .box p{
        width: 20%;
        padding: 2rem;
        height: 20%;
        text-align: center ;
    }
    .Review   .Review-container .box .stars{
        color: gold;
    }
    
.contact .image img{
    background-image: url(contactbg.jpg);
    background-repeat: no-repeat;
    
 
}
   .image img{
    width: 50%;
    height: 130%;
  position: relative;
  
   }
   .contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
   }
   .contact .row form{
        flex : 1 1 40rem;
        border: .1rem solid rgba(0,0,0,.1);
        box-shadow: 0 .5rem  1.5rem rgba(0,0,0, .1);
        position: relative;
        border-radius: .5rem;
        padding:  2rem 2.5rem;
        background: #fff;
        margin-top: 20px;
   }
   .contact .row form .box{
    padding: 1rem;
    color: #333;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    text-transform: none;
    font-size: 1.7rem;
    margin: .7rem 0;
    width: 100%;

   }
   .contact .row  form  .box:focus {
    outline-color: green;
   }
   .contact .row form  textarea{
    height: 15rem;
    resize: none;
   }
   .contact .row form textarea:focus{
    outline-color: green;
}
   .contact .row .image{
    flex: 1 1 40rem;

   }
   .contact .row .image img{
    width: 100%;
    margin-top: 20px;
   }
   .contact .row form .button{
    padding: 1.5rem;
    background-color: black;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border-radius: 5rem;
    cursor: pointer;
    border: none;
   }

   .contact .row form .button:hover{
    background-color: green;
    color: whitesmoke;
   }

   .links{
    display: flex;
    flex-wrap: wrap;
    gap: 15rem;
    padding: 30px;
    padding-left: 40px;
    padding-right: 20px;
    background-color: black;
    color: whitesmoke;
   }
   .links .quick-links .box{
    flex: 1 1 1rem;
   
   }
   .links .quick-links .box h6{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem 0;
   }
   .links .quick-links .box a{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem 0;
    display: block;
    text-decoration: none;
    color: whitesmoke;
    
   }
   h6{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    
   }
   .links .quick-links .box a:hover{ color: green;
   }
   @media (max-width:720px) {
    ul, li, h1{
        display: none;
       
     }
    
   }

   @media (max-width:720px) {

    .video-container video{
        width: 80%;
        height: 50%;
        padding: 20px;
        object-fit: cover;
    }
        .video-container h4{
            position: absolute;
            top: 0%;
            transform: translate(-5%);
            text-align: center;
            padding: .5rem 1rem;
            background: #fff;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1rem;
            mix-blend-mode: screen;
            width: 80%;
            display: none;
        }
            .video-content h5{
                font-size: xx-large;
                padding: 30px;
                font-family: 'Times New Roman', Times, serif;
                
            } 
            .video-content{
                padding: 10px;
            }
            .video-content span{
                font-size: medium;
                font-family: 'Times New Roman', Times, serif;
                
            } 
            .video-container  {
                display: inline;
                position: relative;
                padding: 30px;
               
            
    
   
}}

@media (max-width:720px) {
    .container  .icons h5{
        font-size: larger;
    }
    .container  .icons span{
        font-size: large;
    }
    .container{
        padding: 10px;
        margin: 0;
        background : grey;  
        
    }   
}    
@media (max-width:720px) {
      .box-container{
      justify-content: center;
        margin: 30px;
        margin-left: 60px;
    }
}
@media (max-width:720px) {

.links .quick-links .box{
    margin-top: 10px;
      margin-left: 70px; ;
}


}
@media (max-width:720px) {


.button{
    margin-top: 1rem;
    border-radius: 5rem;
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    padding: .6rem 1.5rem;
    margin-left: 35%;}
}

@media (max-width:720px) {
.Review-container {
    height: 10%;
}

.Review-container .box p{
    width: 60%;
    padding: 2rem;
    height: 20%;
    text-align: center ;
}
}